margin: 0;



#wrapper{


  width: 100%;
  margin-left: auto;
  margin-right: auto;
}





header{

height: 150px;
width: 100%;
background-color: blue;

}

nav{

height: 100px;
width: 100%;
background-color: red;

}

main{

height: 450px;
width: 75%;
background-color: blue;

}

aside{

height: 450px;
width: 25%;
background-color: yellow;

}

footer{

height: 100px;
width: 100%;
background-color: yellow;

}

#containor{

  display: flex;

}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
